@font-face {
  font-family: "DMSans";
  src: url("public/fonts/DM_Sans/DMSans-VariableFont_opszwght.woff")
      format("woff"),
    url("public/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

:root {
  --softRed: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dBrown: hsl(25, 47%, 15%);
  --medBrown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --vPaleOrange: hsl(33, 100%, 98%);
}

body {
  min-height: 100vh;
  font-size: 1.125rem;
  font-family: "DMSans";
  font-weight: 400;
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/** Top Card **/
.balanceTop {
  display: flex;
  justify-content: space-between;
  background-color: var(--softRed);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  color: var(--vPaleOrange);
}

.balanceInfo > h1 {
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 5px;
  opacity: 70%;
}

.balanceInfo > strong {
  font-weight: 700;
  font-size: 1.15rem;
}

/** Chart Styles **/

.chartCard {
  background-color: var(--vPaleOrange);
  border-radius: 10px;
  padding: 20px;
}

.chartCard > h1 {
  margin-bottom: 30px;
  color: var(--dBrown);
}

.bar {
  fill: var(--softRed);
}

.bar:hover {
  opacity: 70%;
}

.barToday {
  fill: var(--cyan);
}

.barToday:hover {
  opacity: 70%;
}

.barTooltipText {
  border-radius: 5px;
  fill: var(--vPaleOrange);
  font-size: 0.8rem;
  font-weight: 700;
}

.barLabel {
  font-size: 0.8rem;
  font-weight: 400;
  fill: var(--medBrown);
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  opacity: 30%;
}

/** Bottom Part **/
.chartCard > h2 {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 5px;
  color: var(--medBrown);
}

.stats {
  display: flex;
  justify-content: space-between;
}
.stats > strong {
  font-size: 1.67rem;
  align-self: flex-end;
  color: var(--dBrown);
}
.previous {
  display: flex;
  flex-direction: column;
  text-align: end;
  font-size: 0.8rem;
  color: var(--medBrown);
}
.previous > strong {
  color: var(--dBrown);
}

@media screen and (min-width: 40em) {
  .balanceTop {
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .chartCard {
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .stats > strong {
    font-size: 2.25rem;
  }
}

/** Reset styles **/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-top: 0;
  margin-block-end: 0;
}
